/* ------------------------------
   ІМПОРТ ШРИФТІВ
------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ------------------------------
   ГЛОБАЛЬНІ СТИЛІ
------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: url("../img/background.jpg"), no-repeat;
}

/* ------------------------------
   ШАПКА САЙТУ
------------------------------ */
header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.navigation a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background:  #E1306C;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition-delay: 0.1s;
}

.navigation a:hover {
    color:  #E1306C;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation a.active {
    color: #E1306C; /* Колір для активної сторінки */
    font-weight: bold;
    border-bottom: 2px solid #E1306C;
}
/* ------------------------------
   ГОЛОВНИЙ КОНТЕНТ
------------------------------ */
.container {
    margin: 0 auto;
    max-width: 700px;
}

.main-h1 {
    color: gainsboro;
    text-align: center;
    font-size: 2.5em;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ------------------------------
   ФОН ВІДЕО
------------------------------ */
.video-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}


/* ------------------------------
   ПОРТФОЛІО
------------------------------ */

.portfolio-main {
    max-width: 1200px;
    margin: 80px auto;
}

.portfolio h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}


.gallery img:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }
}

/* ------------------------------
   ДОДАТКОВІ ЕЛЕМЕНТИ ЛІНКИ ВНИЗУ
------------------------------ */

.invisible {
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #f0f0f0, #c0c0c0);
    width: 27vw;
    height: 14vh;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible a,
.invisible2 a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 25px;
    transition: color 0.5s ease;
}

.invisible a:hover,
.invisible2 a:hover{
    color: #E1306C;
}

.invisible2 {
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, #f0f0f0, #c0c0c0);
    width: 27vw;
    height: 14vh;
    border-top-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.threads-icon,
.instagram-icon{
    position: relative;
    top: 10px;
    color: #000000;
    fill: #000000;
    transition: color 0.5s ease;
}

.heart-icon {
    position: relative;
    top: 5px;
}

.instagram-link:hover .instagram-icon,
.threads-link:hover .threads-icon{
    color: #E1306C;
    fill: #E1306C;
}

/* ------------------------------
   PRICE PAGE
------------------------------ */



